 <div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12  px-0 ">
            <img src="assets/images/thankyou.jpeg" class="signup-img" alt="login image" width="100%">
        </div>
    </div>
</div> 
