.bg {
    background-image: url(../../../assets/img/Lobby/lobby.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    // background-color: #464646;

    width: 100%;
    height: 100vh;
    // position: relative;
}
.loby-bg {
    img{        
    width: 100vw;
    height: 105vh;
    }
}
section{
    position: relative;
    .content-wrap {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      max-width: 100%;
      margin: auto;
      position: relative;
      .lobby-bg{
        position: relative;
          width: 100%;
          height: 100%;
          display: block;
      }
    } 
  }
.reception {
        position: absolute;
        bottom: 23%;
        left: 48%;
        cursor: pointer;
        // background: black;
        height: 6vw;
        width: 4vw;       
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
        cursor: pointer;
    }
}
.key_portfolio {
        position: absolute;
        top: 48%;
        left: 43.5%;
        cursor: pointer;
        // background: black;
        height: 6vh;
        width: 11vw;          
    .pulsating-circle{
        position: absolute;
        top: 55%;
        left: 50%;
    }
}
 .auditorium-left {
    position: absolute;
    top: 58%;
    left: 40%;
    height: 8.2vh;
    width: 17.2vw;
    cursor: pointer;
    // background: black;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 57%;
    }
}
.auditorium-right {    
        position: absolute;
        top: 32%;
        right: 13%;
        height: 7vh;
        width: 16vw;
        cursor: pointer;
        // background: black;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
} 
 /* .exhibition-hall {
    height: 7vh;
    width: 14vw;
    position: absolute;
    top: 47%;
    left: 22%;
    // background: black;
    cursor: pointer;
      .pulsating-circle{
          position: absolute;
          top: 75%;
          right: 15%;
      }
  
  }  */
.registraion-desk {
    .pulsating-circle{
        position: absolute;
        top: 55%;
        left: 55%;
        cursor: pointer;
    }
}
.askqa {
  .pulsating-circle{
      position: absolute;
      bottom: 12%;
      right: 51%;
      cursor: pointer;
  }

}

.networking-lounge {
    height: 7vh;
    width: 14vw;
    position: absolute;
    top: 60%;
    left: 5%;
    // background: black;
    cursor: pointer;
      .pulsating-circle{
          position: absolute;
          top: 75%;
          left: 45%;
      }
  
  }
.agenda {
    position: absolute;
    bottom: 27%;
    right: 33.5%;
    cursor: pointer;
    // background: black;
    height: 5vw;
    width: 4vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
        cursor: pointer;
    }

}
.heighlights {
    position: absolute;
    bottom: 27%;
    left: 30%;
    cursor: pointer;
    // background: black;
    height: 5vw;
    width: 3vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
        cursor: pointer;
    }

}

#player_sec{
    position: absolute;
    top: 39.1%;
    left: 49.55%;
    transform: translate(-50%, -50%);
  }
.playScreen{
    position: absolute;
    
    top: 31.96%;
    left: 42.5%;

    video{
      position: absolute;
      background: black;
      padding: 0px;
      width: 15vw;
      height: 13vh;
      border-radius: 0px;
    }
    img{
        padding: 2px;
        width: 15.3vw;
        height: 17.8vh;
        border-radius: 5px; 
        cursor:pointer;
    }
}

#modal-video{
    border-radius:5px; 
    padding: 0 3px;   
    position: relative;
    top: 3px;
    #closeModalVideo{
        position: absolute;
        top: -16px;
        right: -16px;
        line-height: 24px;
        font-size: 30px;
        background: #e40e38;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        text-align: center;
        color: white;
        font-weight: 500;
        z-index: 1000;
        cursor: pointer;
    }
}
  #fade {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
  }
  

  #light {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 600px;
    max-height: 360px;
    margin-left: -300px;
    margin-top: -180px;
    border: 2px solid #FFF;
    background: #FFF;
    z-index: 1002;
    overflow: visible;
  }
  
  #boxclose {
    float: right;
    cursor: pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 3px;
    background: #222222;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 1002;
    opacity: 0.9;
    
  }
  
  .boxclose:before {
    content: "×";
  }
  
  #fade:hover ~ #boxclose {
    display:none;
  }
  
  .test:hover ~ .test2 {
    display: none;
  }
  .video {
    position: absolute;
    top: 32%;
    left: 39%;
    cursor: pointer;
    height: 14vh;
    width: 20vw;
    .pulsating-circle{
        position: absolute;
        top: 40%;
        left: 50%;
        cursor: pointer;
    }
  }
  #popup{
    background: #000000c9;
    padding: 5px;
    .chat_section{
      background: #292F35;
      .popup_header{
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #fff;
  
        .close {
          position: absolute;
          right: 7px;
          width: 24px;
          height: 28px;
          opacity: 0.5;
        }
        .close:hover {
          opacity: 1;
        }
        .close:before, .close:after {
          position: absolute;
          right: 7px;
          content: ' ';
          height: 28px;
          width: 2px;
          background-color: #fff;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }
  
      }
    }
  }


  #pointer{
    position: absolute;
    top: 60%;
    left: 10%;
    width: 5%;
    height: 5%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }
  #wholeCam{
    #camImg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    #videobgStream{
        width: 100%;
    }
    
  }
  #buttons{
    text-align: center;
    justify-content: center;
    width: 100%;
    color:red;
    img{
        padding: 2px;
        cursor: pointer;
    }
  }
  
  
  #bgImg{
    position:absolute;
    top:3%;
  }
  
   #closePopup{
    position: absolute;
    top: -28px;
    right: -29px;
    line-height: 35px;
  font-size: 38px;
    background: #e40e38;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    color: white; 
    font-weight: 500;
    /* z-index: 1000; */  
    cursor: pointer;
  } 
 
  #diabetesVideo{
    cursor: pointer;
    position: absolute;
    top: 53.5%;
    right: 10%;
    height: 19vh;
    width: 6vw;
    .pulsating-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    }
    }
    #modal-video{
      border-radius:5px; 
      padding: 0 3px;   
      position: relative;
      top: 3px;
      #closePopup{
          position: absolute;
          top: -16px;
          right: -16px;
          line-height: 35px;
        font-size: 38px;
          background: #e40e38;
          border-radius: 50%;
          height: 30px;
          width: 30px;
          text-align: center;
          color: white;
          font-weight: 500;
          z-index: 1000;
          cursor: pointer;
      }
    }