<!-- <div class="row">
    <div class="col-md-12 col-xl-12 col-sm-12 col-xs-12">
        <div>
            <div [ngStyle]="{'display':videoEnd ? 'block': 'none'}" class="img-fluid">
                <div class="bg"></div>
            </div>
            <div [ngStyle]="{'display':videoEnd ? 'none': 'block'}">
                <video id="myVideo" autoplay="true" class="videoBg" (ended)="videoEnded()">
                    <source src="../../../assets/video/To_Exhibition.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="bg"></div> -->
<section>
    <div id="content">
        <div id="exhibition_content">
            <div id="fullBg">
                <img src="assets/honeywell/exhibition.jpg" alt="">
            </div>
            <div style="position: absolute;  top: 22%; left: 32%;" *ngIf="liveMsg">
                <div class="alert alert-success " role="alert">
                    The session is Live now, please join us at the auditorium.
                </div>
              </div>
            <div>
                <div class="dareToInnovative" (click)="gotoCommitToSucceed('645')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="commitToSucceed" (click)="gotoCommitToSucceed('644')">
                    <div class="pulsating-circle"></div>
                </div>
                <!-- <div class="growBySharing" (click)="gotoGrowBySharing()">
                    <div class="pulsating-circle"></div>
                </div> -->
                <div class="care" (click)="gotoCommitToSucceed('643')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="lilly_4" (click)="gotoCommitToSucceed('642')">
                    <div class="pulsating-circle"></div>
                </div>
                <!-- <div class="lilly_5" (click)="gotoCommitToSucceed('284')">
                    <div class="pulsating-circle"></div>
                </div> -->
                <!-- <div class="lilly_6" (click)="gotoCommitToSucceed('287')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="lilly_7" (click)="gotoCommitToSucceed('293')">
                    <div class="pulsating-circle"></div>
                </div> -->
                <!-- <div class="lilly_8" (click)="gotoCommitToSucceed('292')">
                    <div class="pulsating-circle"></div>
                </div> -->
                <!-- <div class="lilly_9" (click)="gotoCommitToSucceed('294')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="lilly_10" (click)="gotoCommitToSucceed('291')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="lilly_11" (click)="gotoCommitToSucceed('290')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="lilly_12" (click)="gotoCommitToSucceed('288')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="lilly_13" (click)="gotoCommitToSucceed('289')">
                    <div class="pulsating-circle"></div>
                </div> -->
            </div>
        </div>
    </div>
</section>