<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-xl-12">
            <div class="text-center p-3">
                <h5>ATTENDEES</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col xl-12">
          <div class="col-md-4">
            <label>Search</label>
            <input class="form-control" [(ngModel)]="names" (keyup)="filterData(names)" style="margin-bottom: 12px;" type="text" placeholder="Filter Result">
          </div>
            <div class="users_data">
                <div class="user-profile-row" *ngFor="let user of attendees" id="user_row_500">
                    <div class="user-profile-data">
                        <div class="user-profile-image"> <img class="img-responsive user-profile-img" src="assets/img/user1.jpg"
                                width="32">
                        </div>
                        <div class="user-profile-info">
                            <p class="user-profile-name"><a href="javascript:void(0);">{{user.name}}</a></p>
                            <p class="user-profile-company">{{user.email}}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
