
<div class="container-fluid" id="popup">
  <div class="row">
    <div class="col-md-12 col-xl-12">
      <div class="chat_section">
        <div class="popup_header">
          <h6 style="text-transform: uppercase;">sales information</h6>
          <a class="close" (click)="closePopup()"></a>
        </div>
        <div class="container-fluid" style="  background: #f2f4f7;">
          <div class="row pt-2">

            <div class="col-md-6">
              <div class="profile-card">
                <figure>
                  <i class="fa fa-user"></i>
                </figure>
                <h3>{{salesData[0].salesman}}</h3>
                  <table class="table">
                                                        <tbody><tr>
                              <td><i class="fa fa-id-badge"></i>{{salesData[0].sales_position}}</td>
                          </tr>
                                                    <tr>
                          <td><i class="fa fa-envelope"></i>{{salesData[0].salesman_email}}</td>
                      </tr>
                      <tr>
                          <td><i class="fa fa-mobile"></i>{{salesData[0].phone}}</td>
                      </tr>
                  </tbody></table>
              </div>
            </div>
           



           
          </div>
         
          </div>
        </div>
      </div>
    </div>
  </div>
