#pointer{
  position: absolute;
  top: 57%;
  left: 48%;
  width: 5%;
  height: 5%;
  cursor: pointer;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
#wholeCam{
  #camImg{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
  }
  #videobgStream{
      width: 100%;
  }
  
}
#buttons{
  text-align: center;
  justify-content: center;
  width: 100%;
  color:red;
  img{
      padding: 2px;
      cursor: pointer;
  }
}
.modal-content{
  /*  border: 2px solid crimson;  */
  border-radius: 25px;
  .modal-header{
    border-radius: 0;
    /* margin-top: 32px; */
    /* background: #005f86; */ 
    .close{
      color: #005f86;
      opacity: 1;
      outline: none;
      
    }
  }
}
#bgImg{
  position:absolute;
  top:3%;
}

 #closePopup{
  position: absolute;
  top: -16px;
  right: -16px;
  line-height: 35px;
font-size: 38px;
  background: #e40e38;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  color: white; 
  font-weight: 500;
  /* z-index: 1000; */  
  cursor: pointer;
} 