<!-- <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top p-0">
    <div class="container-fluid">
        <a class="navbar-brand text-success" [routerLink]="['/lobby']">
            <img src="assets/img/logo.png" alt="logo" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse"></div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item pl-2"><a [routerLink]="['/lobby']"><i class="fa fa-fw fa-home"></i> Home</a></li>
                <li class="nav-item pl-2"><a href="" data-toggle="modal" data-target="#exampleModalLong"><i class="fa fa-fw fa-info-circle"></i>
                        Information</a></li>
                
            </ul>
            <div class="col-md-2 text-right pr-5" id="icon-right">
                <li>
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fa fa-fw fa-user"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="left:14px">
                        <a class="dropdown-item" nhref="#">{{firstName}}</a>
                        
                    </div>
                </li>
               
                <li class="pr-2">
                    <a class="nav-link" (click)="logout()" title="Logout" role="button">
                        <i class="fa fa-sign-out" id="logout"></i>
                    </a>
                </li>

            </div>
        </div>
    </div>
</nav> -->
<!-- <span id="signout">
    <a class="nav-link sign" (click)="logout(); stepUpAnalytics('click_Logout')" title="Logout" role="button">
        Logout</a>
</span> -->
<div id="sidebar">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" (click)="closeSidebar()">&times;</a>
        <ul id="sidenavList">
            <li>
                <a [routerLink]="['/lobby']" (click)="stepUpAnalytics('click_lobby')"><img src="assets/IPA/icons/icon-1.png" alt="">
                    <div>LOBBY</div>
                </a>
            </li> 
            <!-- <li>
                <a (click)="stepUpAnalytics('click_games')" href="https://www.cardiometabolicsummit.ekartbbd2020.com/" target="_blank"><i class="fa fa fa-gamepad m_btn"></i>
                    <div>Game</div>
                </a>
            </li> -->
            <li>
    
                <a data-toggle="modal" data-target=".agendaModal" (click)="stepUpAnalytics('click_agenda')"><img src="assets/IPA/icons/icon-2.png"
                        alt="">
                    <div>AGENDA</div>
                </a>
            </li>
            <li>
                <a routerLink="/auditorium/one" (click)="stepUpAnalytics('click_Auditorium')"><img src="assets/IPA/icons/icon-3.png" alt="">
                    <div>EVENT HALL</div>
                </a>
            </li>
            <li>
                <a  (click)="stepUpAnalytics('click_Selfie_Booth')"><img src="assets/IPA/icons/icon-4.png"
                        alt="">
                    <div>PHOTOBOOTH</div>
                </a>
            </li>
            <li>
                <a  data-toggle="modal" data-target="#playVideo1"><img src="assets/IPA/icons/icon-5.png"
                        alt="">
                    <div>GRATITUDE WALL</div>
                </a>
            </li>
            <li>
                <a  data-toggle="modal" data-target=".feebackModal"><img src="assets/IPA/icons/icon-6.png"
                        alt="">
                    <div>SPEAKER PROFILE</div>
                </a>
            </li>
            <li>
                <a data-toggle="modal" data-target=".liveQuestionModal"><img [src]="(router.url==='/registrationDesk')?'../../assets/icons/agenda-h.png':'assets/IPA/icons/icon-10.png'"
                        alt="">
                    <div>HELPDESK</div>
                </a>
            </li>  
            <li>
    
                <a (click)="stepUpAnalytics('click_Feedback')" data-toggle="modal" data-target=".feebackModal"><img src="assets/IPA/icons/icon-7.png" alt="">
                    <div>FEEDBACK FORM</div>
                </a>
            </li>
            <li>
    
                <a (click)="logout(); stepUpAnalytics('click_Logout');"><img src="assets/IPA/icons/icon-9.png" alt="">
                    <div>EXIT</div>
                </a>
            </li>
           <!--  <li>
                <a [routerLink]="['/lobby']" (click)="stepUpAnalytics('click_lobby')"><img src="assets/icons/home.png"
                        alt="">
                    Lobby
                </a>
            </li> -->
            <!-- <li>
                <a (click)="stepUpAnalytics('click_games')" href="https://www.cardiometabolicsummit.ekartbbd2020.com/" target="_blank"><i class="fa fa fa-gamepad m_btn"></i>
                    Game
                </a>
            </li> -->
           <!--  <li>
                <a data-toggle="modal" data-target=".agendaModal" (click)="stepUpAnalytics('click_agenda')"><img src="assets/icons/agenda.png"
                        alt="">
                    Agenda
                </a>
            </li> -->
            

            <!-- <li>
                <a routerLink="/auditorium/one" (click)="stepUpAnalytics('click_Auditorium')"><img src="assets/icons/first-floor.png" alt="">
                  Auditorium
                </a>
            </li> -->
            <!-- <li>
                <a (click)="audi1(); stepUpAnalytics('click_Auditorium_1')"><img src="assets/icons/first-floor.png" alt="">
                    Audi 1
                </a>
            </li>
            <li>
                <a (click)="audi2(); stepUpAnalytics('click_Auditorium_2')"><img src="assets/icons/first-floor.png" alt="">
                    Audi 2
                </a>
            </li>
            <li>
                <a (click)="audi3(); stepUpAnalytics('click_Auditorium_3')"><img src="assets/icons/first-floor.png" alt="">
                    Audi 3
                </a>
            </li>
            <li>
                <a (click)="audi4(); stepUpAnalytics('click_Auditorium_4')"><img src="assets/icons/first-floor.png" alt="">
                    Audi 4
                </a>
            </li> -->
            <!-- <li>
                <a [routerLink]="['/exhibitionHall']" (click)="stepUpAnalytics('click_Exhibition')"><img src="assets/icons/exhibition.png"
                        alt="">
                    Exhibition
                </a>
            </li> -->
            <!-- <li>
                <a [routerLink]="['/networkingLounge']" (click)="stepUpAnalytics('click_Networking')"><img src="assets/icons/Exhibitors.png"
                        alt="">
                    Networking
                </a>
            </li> -->
           <!--  <li>
                <a [routerLink]="['/keyportfolio']" (click)="stepUpAnalytics('click_Scientific_Posters')"><img src="assets/icons/Exhibitors.png"
                        alt="">
                    Game Zone
                </a>
            </li> -->
            <!-- <li>
                <a data-toggle="modal" data-target=".briefcaseModal"><img src="assets/icons/Briefcase.png" alt="">
                    Highlights
                </a>
            </li> -->
           <!--  <li>
                <a [routerLink]="['/capturePhoto']" (click)="stepUpAnalytics('click_Selfie_Booth')"><img src="assets/icons/user.png"
                        alt="">
                    Photobooth
                </a>
            </li>
            <li>

                <a data-toggle="modal" (click)="stepUpAnalytics('click_Feedback	')" data-target=".feebackModal"><img src="assets/icons/contact.png" alt="">
                    Feedback
                </a>
            </li> -->
        </ul>
    </div>
    <div id="hamburger" (click)="openSidebar()">&#9776;</div>
</div>
<main [@fadeAnimation]="getRouterOutletState(o)">
    <router-outlet #o="outlet"></router-outlet>
    <!-- <div [ngStyle]="{'display':landscape?'none':'block'}">
        <div id="potrait">
            <img src="../../assets/img/rotate.gif" alt="">
            <p>Switch to Landscape view</p>
        </div>
    </div>
    <div [ngStyle]="{'display':landscape?'block':'none'}">
        <router-outlet #o="outlet"></router-outlet>
    </div> -->
</main>
<div class="footer-nav" *ngIf="router.url!='/auditorium/one'">
    <!-- <img src="../../assets/IPA/menu.png" width="80%"> -->
    <ul class="footer-nav1">
         <li>
            <a [routerLink]="['/lobby']" (click)="stepUpAnalytics('click_lobby')"><img src="assets/IPA/icons/icon-1.png" alt="">
                <div>LOBBY</div>
            </a>
        </li> 
        <!-- <li>
            <a (click)="stepUpAnalytics('click_games')" href="https://www.cardiometabolicsummit.ekartbbd2020.com/" target="_blank"><i class="fa fa fa-gamepad m_btn"></i>
                <div>Game</div>
            </a>
        </li> -->
        <li>

            <a data-toggle="modal" data-target=".agendaModal" (click)="stepUpAnalytics('click_agenda')"><img src="assets/IPA/icons/icon-2.png"
                    alt="">
                <div>AGENDA</div>
            </a>
        </li>
        <li>
            <a routerLink="/auditorium/one" (click)="stepUpAnalytics('click_Auditorium')"><img src="assets/IPA/icons/icon-3.png" alt="">
                <div>EVENT HALL</div>
            </a>
        </li>
         <!-- <li>
            <a ><img src="assets/IPA/icons/icon-4.png"
                    alt="">
                <div>PHOTOBOOTH</div>
            </a>
        </li>  -->
         <li>
            <a (click)="showPhotobooth()"><img src="assets/IPA/icons/icon-3.png"
                    alt="">
                <div>Photobooth</div>
            </a>
        </li> 

        <li>
            <a  data-toggle="modal" data-target="#playVideo1"><img src="assets/IPA/icons/icon-5.png"
                    alt="">
                <div>GRATITUDE WALL</div>
            </a>
        </li>
        <li>
            <a [routerLink]="['/capturePhoto']" data-toggle="modal" data-target=".feebackModal1"><img src="assets/IPA/icons/icon-6.png"
                    alt="">
                <div>SPEAKER PROFILE</div>
            </a>
        </li>
        <li>
            <a [routerLink]="['/registrationDesk']" routerLinkActive="linkActive" data-toggle="modal" data-target=".liveQuestionModal"><img [src]="(router.url==='/registrationDesk')?'../../assets/icons/agenda-h.png':'assets/IPA/icons/icon-10.png'"
                    alt="">
                <div>HELPDESK</div>
            </a>
        </li> 
        <li>

            <a (click)="stepUpAnalytics('click_Feedback')" data-toggle="modal" data-target=".feebackModal"><img src="assets/IPA/icons/icon-7.png" alt="">
                <div>FEEDBACK FORM</div>
            </a>
        </li>
        <li>

            <a (click)="logout(); stepUpAnalytics('click_Logout');"><img src="assets/IPA/icons/icon-9.png" alt="">
                <div>EXIT</div>
            </a>
        </li>
        <!-- <ng-container *ngFor="let audi of audis; let i=index">
            <li>
                <a (click)="gotoAudi(i+1); stepUpAnalytics('click_Auditorium_'+i+1)"><img src="assets/icons/first-floor.png"
                        alt="">
                    <div>{{audi}}</div>
                </a>
            </li>
        </ng-container> -->
        <!-- <li>
            <a (click)="audi1(); stepUpAnalytics('click_Auditorium_1')"><img src="assets/icons/first-floor.png" alt="">
                <div>Audi 1</div>
            </a>
        </li>
        <li>
            <a (click)="audi2(); stepUpAnalytics('click_Auditorium_2')"><img src="assets/icons/first-floor.png" alt="">
                <div>Audi 2</div>
            </a>
        </li>
        <li>
            <a (click)="audi3(); stepUpAnalytics('click_Auditorium_3')"><img src="assets/icons/first-floor.png" alt="">
                <div>Audi 3</div>
            </a>
        </li>
        <li>
            <a (click)="audi4(); stepUpAnalytics('click_Auditorium_4')"><img src="assets/icons/first-floor.png" alt="">
                <div>Audi 4</div>
            </a>
        </li> -->
       <!--  <li>
            <a [routerLink]="['/exhibitionHall']" (click)="stepUpAnalytics('click_Exhibition')"><img src="assets/icons/exhibition.png"
                    alt="">
                <div>Exhibition</div>
            </a>
        </li> -->
        <!-- <li>
            <a [routerLink]="['/registrationDesk']" routerLinkActive="linkActive"><img [src]="(router.url==='/registrationDesk')?'../../assets/icons/agenda-h.png':'../../assets/icons/agenda.png'"
                    alt="">
                <div>Help Desk</div>
            </a>
        </li> -->
        <!-- <li>
            <a [routerLink]="['/meetingRoom']" routerLinkActive="linkActive"><img [src]="(router.url==='/meetingRoom')?'../../assets/icons/Meeting-Rooms-h.png': '../../assets/icons/Meeting-Rooms.png'"
                    alt="">
                <div>Meeting Room</div>
            </a>
        </li> -->
        <!-- <li>
            <a [routerLink]="['/networkingLounge']" (click)="stepUpAnalytics('click_Networking')"><img src="assets/icons/Exhibitors.png"
                    alt="">
                <div>Networking</div>
            </a>
        </li> -->
       <!--  <li>
            <a [routerLink]="['/keyportfolio']" (click)="stepUpAnalytics('click_Scientific_Posters')"><img src="assets/icons/Exhibitors.png"
                    alt="">
                <div> Game Zone</div>
            </a>
        </li> -->
        <!-- <li>
            <a [routerLink]="['/briefcase']" routerLinkActive="linkActive"><img [src]="(router.url==='/briefcase')?'assets/icons/Briefcase-h.png': 'assets/icons/Briefcase.png'"
                    alt="">
                <div>Briefcase</div>
            </a>
        </li> -->
        <!-- <li>
            <a data-toggle="modal" data-target=".heightlightModal"><img src="assets/icons/Briefcase.png" alt="">
                <div>Highlights</div>
            </a>
        </li> -->

        <!-- <li>
            <a [routerLink]="['/games']">
                <i class='fa fa-gamepad'></i>
                <div>Games</div>
            </a>
        </li> -->
        <!-- <li>
            <a data-toggle="modal" data-target=".briefcaseModal"><img src="assets/icons/user.png" alt="">
                <div>Briefcase</div>
            </a>
        </li> -->
        <!-- <li>
            <a [routerLink]="['/capturePhoto']" (click)="stepUpAnalytics('click_Selfie_Booth')"><img src="assets/icons/user.png"
                    alt="">
                <div>Photobooth</div>
            </a>
        </li> -->

        <!-- <a [routerLink]="['/attendees']" routerLinkActive="linkActive"><img [src]="(router.url==='/attendees')?'../../assets/icons/user-h.png': '../../assets/icons/user.png'"
                    alt="">
                <div>Attendees</div>
            </a> -->
        <!-- <li>
            <a data-toggle="modal" data-target=".attendeesModal"><img src="assets/icons/user.png" alt="">
                <div>Attendees</div>
            </a>
        </li> -->
        <!-- <li>

            <a data-toggle="modal" data-target=".chatsModal"><img src="../../assets/icons/chat.png" alt="">
                <div>Chats</div>
            </a>
        </li> -->
        <!-- <li>

            <a data-toggle="modal" data-target=".myContactsModal"><img src="../../assets/icons/contact.png" alt="">
                <div>My Contacts</div>
            </a>
        </li> -->
        <!-- <li>

            <a (click)="stepUpAnalytics('click_Feedback')" data-toggle="modal" data-target=".feebackModal"><img src="assets/icons/contact.png" alt="">
                <div>Feedback</div>
            </a>
        </li> -->
        <!-- <li>
            <a data-toggle="modal" data-target=".liveQuestionModal"><img src="../../assets/icons/chat.png" alt="">
                <div>Ask Question</div>
            </a>
        </li> -->
        <!-- <li>
            <a data-toggle="modal" data-target=".pollModal"><img src="../../assets/icons/navigation.png" alt="">
                <div>Poll</div>
            </a>
        </li> -->
        <!-- <li>
            <a data-toggle="modal" (click)="showCapture()"><img src="../../assets/icons/user.png" alt="">
                <div>Take Pic</div>
            </a>
        </li> -->

    </ul>

</div>

<!-- Information Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Profile Modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-profile></app-profile>
        </div>
    </div>
</div>

<!-- attendees Modal -->
<!-- <div class="modal fade attendeesModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-attendees></app-attendees>
        </div>
    </div>
</div> -->

<!-- agenda Modal -->
  <div class="modal fade agendaModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-agenda></app-agenda>
        </div>
    </div>
</div>  
<!-- photobooth modal -->
<!-- <div class="modal fade" id="photoboothModal" tabindex="-1" role="dialog" aria-labelledby="photoboothModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <app-capture-photo></app-capture-photo>
        </div>
        </div>
        </div> -->

<div class="modal fade heightlightModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <app-heightlight></app-heightlight>
        </div>
    </div>
</div>
<!-- Chats Modal -->
<div class="modal fade chatsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-chats></app-chats>
        </div>
    </div>
</div>
<!-- Audi Modal -->
<div class="modal fade audiModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <app-active-audi></app-active-audi>
        </div>
    </div>
</div>
<!-- Briefcase Modal-->
<div class="modal fade briefcaseModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-briefcase-docs></app-briefcase-docs>
        </div>
    </div>
</div>
<!-- GroupChat Modal -->
<div class="modal fade groupchatsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-group-chat></app-group-chat>
        </div>
    </div>
</div>

<!-- GroupChat Modal -->
<div class="modal fade groupchatsModalTwo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-group-chat-two></app-group-chat-two>
        </div>
    </div>
</div>

<!-- GroupChat Modal -->
<div class="modal fade groupchatsModalThree" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-group-chat-three></app-group-chat-three>
        </div>
    </div>
</div>

<!-- GroupChat Modal -->
<div class="modal fade groupchatsModalFour" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-group-chat-four></app-group-chat-four>
        </div>
    </div>
</div>

<!-- MyContacts Modal -->
<div class="modal fade myContactsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-my-contacts></app-my-contacts>
        </div>
    </div>
</div>

<div class="modal fade feebackModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <app-my-feedback></app-my-feedback>
        </div>
    </div>
</div>
<div class="modal fade feebackModal1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                  <div class="col-md-12 col-xl-12">
                    <div class="chat_section">
                      <div class="popup_header">
                        <h6>Speaker Profile</h6>
                        <a class="close" (click)="closePopup()"></a>
                      </div>
              
                      <iframe src="https://forms.gle/bJLEsiJUpLHgx4vn6" frameborder="0" width="100%" height="550"></iframe>
                      </div></div></div>
        </div>
    </div>
</div>
<!-- LiveQuestion Modal -->
<div class="modal fade liveQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-question></app-question>
        </div>
    </div>
</div>
<!-- BallroomQuestion Modal -->
<div class="modal fade ballroomQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-ballroom-question></app-ballroom-question>
        </div>
    </div>
</div>
<div class="modal fade ballroomQuestionModalTwo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-ballroom-two></app-ballroom-two>
        </div>
    </div>
</div>
<div class="modal fade ballroomQuestionModalThree" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-ballroom-three></app-ballroom-three>
        </div>
    </div>
</div>
<div class="modal fade ballroomQuestionModalFour" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-ballroom-four></app-ballroom-four>
        </div>
    </div>
</div>
<!-- LivePoll Modal -->
<div class="modal fade pollModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-poll></app-poll>
        </div>
    </div>
</div>
<!-- LivePoll Modal Four-->
<div class="modal fade pollModalFour" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-poll-four></app-poll-four>
        </div>
    </div>
</div>
<!-- LivePoll Modal Three-->
<div class="modal fade pollModalThree" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-poll-three></app-poll-three>
        </div>
    </div>
</div>
<!-- LivePoll Modal Two-->
<div class="modal fade pollModalTwo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-poll-two></app-poll-two>
        </div>
    </div>
</div>
<!-- wtsapp Modal -->
<div class="modal fade wtsappModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <app-wtspp-file></app-wtspp-file>
        </div>
    </div>
</div>

<!-- DoCs-Info -->
<!-- <div class="modal fade docsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-docs-info></app-docs-info>
        </div>
    </div>
</div> -->

<!-- Sales-Info -->
<!-- <div class="modal fade salesModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-sales-info></app-sales-info>
        </div>
    </div>
</div> -->
<!-- Sales-Info -->
<div class="modal fade scheduleCallmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-schedule-call></app-schedule-call>
        </div>
    </div>
</div>

 <!-- capturePhoto Modal -->
<!--  <div class="modal fade capturePhoto" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button style="padding:5px; outline:none" type="button" class="close text-right" (click)="closeCamera()">
                <span aria-hidden="true" class="text-dark">&times;</span>
            </button>
            
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="vh-100">
                            <div class="d-flex flex-column align-items-center">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="p-1" [ngStyle]="{'display':showImage? 'none': 'block'}">
                                            <video #video class="vid videoData" autoplay></video>

                                            <img style="position: absolute;top:25px;left:37px;" id="logo" src="assets/img/logo.png" />

                                          
                                        </div>
                                    </div>
                                </div>
                                <div class="p-2" *ngIf="!showImage">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <img src="assets/img/camera.png" width="50" style="cursor: pointer" (click)="capture()"
                                                alt="">  -->
                                            <!-- <button class="btn btn-primary" (click)="capture()">Capture Image</button> -->
                                 <!--         </div>
                                    </div>
                                </div>
                                <div class="p-1" [ngStyle]="{'display':showImage? 'block': 'none'}">
                                    <canvas #canvas id="canvas" class="vid"></canvas>
                                    <div class="text-center p-2">
                                        <a href="{{img}}" download="screenshot.jpg"><img src="assets/img/download.png"
                                                width="50" alt="" (click)="stopVideo()"></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> --> 


<!-- photoboothModal -->
<div class="modal fade" id="photoboothModal" tabindex="-1" role="dialog" aria-labelledby="photoboothModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">      
       
        <div class="modal-body">
            <section id="section">
                <div id="content-wrap">
                    <div id="background">
                        <div id="wholeCam" [ngStyle]="{'display':showImage? 'none': 'block'}">
                            <img id="camImg" src="assets/IPA/photo jacket (1).png" width="100%" alt="">
                            
                            
                             <video #videoStream id="videobgStream" class="vid videoData" autoplay></video> 
                            <div id="buttons">
                                <span id="closePopup" (click)="closePhotobooth()">&times;</span>
                                 <img src="assets/honeywell/click.png" width="10%" (click)="capturePhoto()" alt=""> 
                                </div>
                        </div>
                        <div [ngStyle]="{'display':showImage? 'block': 'none'}">
                            <canvas #canvas id="canvas" class="videobgStream" style="width: 100%;"></canvas>
                            <div id="buttons">
                                <span id="closePopup" (click)="closePhotobooth()">&times;</span>
                              <a href="{{img}}" download="screenshot.png">
                                <img src="assets/honeywell/down.png" width="12%" (click)="downloadPic()" alt="">
                              </a>
                              <img src="assets/honeywell/re.png" width="12%" (click)="reload()" alt="">                            
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
      </div>
    </div>
  </div>