<!-- <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top p-0">
    <div class="container-fluid">
        <a class="navbar-brand text-success" [routerLink]="['/lobby']">
            <img src="assets/img/logo.png" alt="logo" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse"></div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item pl-2"><a [routerLink]="['/lobby']"><i class="fa fa-fw fa-home"></i> Home</a></li>
                <li class="nav-item pl-2"><a href="" data-toggle="modal" data-target="#exampleModalLong"><i class="fa fa-fw fa-info-circle"></i>
                        Information</a></li>
                
            </ul>
            <div class="col-md-2 text-right pr-5" id="icon-right">
                <li>
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fa fa-fw fa-user"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="left:14px">
                        <a class="dropdown-item" nhref="#">{{firstName}}</a>
                        
                    </div>
                </li>
               
                <li class="pr-2">
                    <a class="nav-link" (click)="logout()" title="Logout" role="button">
                        <i class="fa fa-sign-out" id="logout"></i>
                    </a>
                </li>

            </div>
        </div>
    </div>
</nav> -->
<!-- <span id="signout">
    <a class="nav-link sign" (click)="logout(); stepUpAnalytics('click_Logout')" title="Logout" role="button">
        Logout</a>
</span> -->
<div id="sidebar">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" (click)="closeSidebar()">&times;</a>
        <ul id="sidenavList">
            <li>
                <a [routerLink]="['/lobby']" (click)="stepUpAnalytics('click_lobby')"><img src="assets/IPA/icons/icon-1.png" alt="">
                    <div>LOBBY</div>
                </a>
            </li> 
            <!-- <li>
                <a (click)="stepUpAnalytics('click_games')" href="https://www.cardiometabolicsummit.ekartbbd2020.com/" target="_blank"><i class="fa fa fa-gamepad m_btn"></i>
                    <div>Game</div>
                </a>
            </li> -->
            <li>
    
                <a data-toggle="modal" data-target=".agendaModal" (click)="stepUpAnalytics('click_agenda')"><img src="assets/IPA/icons/icon-2.png"
                        alt="">
                    <div>AGENDA</div>
                </a>
            </li>
            <li>
                <a routerLink="/auditorium/one" (click)="stepUpAnalytics('click_Auditorium')"><img src="assets/IPA/icons/icon-3.png" alt="">
                    <div>EVENT HALL</div>
                </a>
            </li>
            <li>
                <a  (click)="stepUpAnalytics('click_Selfie_Booth')"><img src="assets/IPA/icons/icon-4.png"
                        alt="">
                    <div>PHOTOBOOTH</div>
                </a>
            </li>
            <li>
                <a [routerLink]="['/capturePhoto']" (click)="stepUpAnalytics('click_Selfie_Booth')"><img src="assets/IPA/icons/icon-5.png"
                        alt="">
                    <div>GRATITUDE WALL</div>
                </a>
            </li>
            <li>
                <a [routerLink]="['/capturePhoto']" (click)="stepUpAnalytics('click_Selfie_Booth')"><img src="assets/IPA/icons/icon-6.png"
                        alt="">
                    <div>SPEAKER PROFILE</div>
                </a>
            </li>
            <li>
                <a [routerLink]="['/registrationDesk']" routerLinkActive="linkActive"><img [src]="(router.url==='/registrationDesk')?'../../assets/icons/agenda-h.png':'../../assets/IPA/icons/icon-10.png'"
                        alt="">
                    <div>HELPDESK</div>
                </a>
            </li> 
            <li>
    
                <a (click)="stepUpAnalytics('click_Feedback')" data-toggle="modal" data-target=".feebackModal"><img src="assets/IPA/icons/icon-7.png" alt="">
                    <div>FEEDBACK FORM</div>
                </a>
            </li>
            <li>
    
                <a (click)="logout(); stepUpAnalytics('click_Logout');"><img src="assets/IPA/icons/icon-9.png" alt="">
                    <div>EXIT</div>
                </a>
            </li>
           <!--  <li>
                <a [routerLink]="['/lobby']" (click)="stepUpAnalytics('click_lobby')"><img src="assets/icons/home.png"
                        alt="">
                    Lobby
                </a>
            </li> -->
            <!-- <li>
                <a (click)="stepUpAnalytics('click_games')" href="https://www.cardiometabolicsummit.ekartbbd2020.com/" target="_blank"><i class="fa fa fa-gamepad m_btn"></i>
                    Game
                </a>
            </li> -->
           <!--  <li>
                <a data-toggle="modal" data-target=".agendaModal" (click)="stepUpAnalytics('click_agenda')"><img src="assets/icons/agenda.png"
                        alt="">
                    Agenda
                </a>
            </li> -->
            

            <!-- <li>
                <a routerLink="/auditorium/one" (click)="stepUpAnalytics('click_Auditorium')"><img src="assets/icons/first-floor.png" alt="">
                  Auditorium
                </a>
            </li> -->
            <!-- <li>
                <a (click)="audi1(); stepUpAnalytics('click_Auditorium_1')"><img src="assets/icons/first-floor.png" alt="">
                    Audi 1
                </a>
            </li>
            <li>
                <a (click)="audi2(); stepUpAnalytics('click_Auditorium_2')"><img src="assets/icons/first-floor.png" alt="">
                    Audi 2
                </a>
            </li>
            <li>
                <a (click)="audi3(); stepUpAnalytics('click_Auditorium_3')"><img src="assets/icons/first-floor.png" alt="">
                    Audi 3
                </a>
            </li>
            <li>
                <a (click)="audi4(); stepUpAnalytics('click_Auditorium_4')"><img src="assets/icons/first-floor.png" alt="">
                    Audi 4
                </a>
            </li> -->
            <!-- <li>
                <a [routerLink]="['/exhibitionHall']" (click)="stepUpAnalytics('click_Exhibition')"><img src="assets/icons/exhibition.png"
                        alt="">
                    Exhibition
                </a>
            </li> -->
            <!-- <li>
                <a [routerLink]="['/networkingLounge']" (click)="stepUpAnalytics('click_Networking')"><img src="assets/icons/Exhibitors.png"
                        alt="">
                    Networking
                </a>
            </li> -->
           <!--  <li>
                <a [routerLink]="['/keyportfolio']" (click)="stepUpAnalytics('click_Scientific_Posters')"><img src="assets/icons/Exhibitors.png"
                        alt="">
                    Game Zone
                </a>
            </li> -->
            <!-- <li>
                <a data-toggle="modal" data-target=".briefcaseModal"><img src="assets/icons/Briefcase.png" alt="">
                    Highlights
                </a>
            </li> -->
           <!--  <li>
                <a [routerLink]="['/capturePhoto']" (click)="stepUpAnalytics('click_Selfie_Booth')"><img src="assets/icons/user.png"
                        alt="">
                    Photobooth
                </a>
            </li>
            <li>

                <a data-toggle="modal" (click)="stepUpAnalytics('click_Feedback	')" data-target=".feebackModal"><img src="assets/icons/contact.png" alt="">
                    Feedback
                </a>
            </li> -->
        </ul>
    </div>
    <div id="hamburger" (click)="openSidebar()">&#9776;</div>
</div>
<main [@fadeAnimation]="getRouterOutletState(o)">
    <router-outlet #o="outlet"></router-outlet>
    <!-- <div [ngStyle]="{'display':landscape?'none':'block'}">
        <div id="potrait">
            <img src="../../assets/img/rotate.gif" alt="">
            <p>Switch to Landscape view</p>
        </div>
    </div>
    <div [ngStyle]="{'display':landscape?'block':'none'}">
        <router-outlet #o="outlet"></router-outlet>
    </div> -->
</main>
<div class="footer-nav" *ngIf="router.url!='/auditorium/one'">
    <!-- <img src="../../assets/IPA/menu.png" width="80%"> -->
    <ul class="footer-nav1">
         <li>
            <a [routerLink]="['/lobby']" (click)="stepUpAnalytics('click_lobby')"><img src="assets/IPA/icons/icon-1.png" alt="">
                <div>LOBBY</div>
            </a>
        </li> 
        <!-- <li>
            <a (click)="stepUpAnalytics('click_games')" href="https://www.cardiometabolicsummit.ekartbbd2020.com/" target="_blank"><i class="fa fa fa-gamepad m_btn"></i>
                <div>Game</div>
            </a>
        </li> -->
        <li>

            <a data-toggle="modal" data-target=".agendaModal" (click)="stepUpAnalytics('click_agenda')"><img src="assets/IPA/icons/icon-2.png"
                    alt="">
                <div>AGENDA</div>
            </a>
        </li>
        <li>
            <a routerLink="/auditorium/one" (click)="stepUpAnalytics('click_Auditorium')"><img src="assets/IPA/icons/icon-3.png" alt="">
                <div>EVENT HALL</div>
            </a>
        </li>
         <li>
            <a (click)="showPhotobooth()"><img src="assets/IPA/icons/icon-4.png"
                    alt="">
                <div>PHOTOBOOTH</div>
            </a>
        </li> 
        <!-- <li>
            <a [routerLink]="['/capturePhoto']" (click)="stepUpAnalytics('click_Selfie_Booth')"><img src="assets/IPA/icons/icon-3.png"
                    alt="">
                <div>Photobooth</div>
            </a>
        </li> -->

        <li>
            <a  data-toggle="modal" data-target="#playVideo1"><img src="assets/IPA/icons/icon-5.png"
                    alt="">
                <div>GRATITUDE WALL</div>
            </a>
        </li>
        <li>
            <a [routerLink]="['/capturePhoto']" data-toggle="modal" data-target=".feebackModal"><img src="assets/IPA/icons/icon-6.png"
                    alt="">
                <div>SPEAKER PROFILE</div>
            </a>
        </li>
        <li>
            <a [routerLink]="['/registrationDesk']" routerLinkActive="linkActive" data-toggle="modal" data-target=".liveQuestionModal"><img [src]="(router.url==='/registrationDesk')?'../../assets/icons/agenda-h.png':'assets/IPA/icons/icon-10.png'"
                    alt="">
                <div>HELPDESK</div>
            </a>
        </li> 
        <li>

            <a (click)="stepUpAnalytics('click_Feedback')" data-toggle="modal" data-target=".feebackModal"><img src="assets/IPA/icons/icon-7.png" alt="">
                <div>FEEDBACK FORM</div>
            </a>
        </li>
        <li>

            <a (click)="logout(); stepUpAnalytics('click_Logout');"><img src="assets/IPA/icons/icon-9.png" alt="">
                <div>EXIT</div>
            </a>
        </li>
        <!-- <ng-container *ngFor="let audi of audis; let i=index">
            <li>
                <a (click)="gotoAudi(i+1); stepUpAnalytics('click_Auditorium_'+i+1)"><img src="assets/icons/first-floor.png"
                        alt="">
                    <div>{{audi}}</div>
                </a>
            </li>
        </ng-container> -->
        <!-- <li>
            <a (click)="audi1(); stepUpAnalytics('click_Auditorium_1')"><img src="assets/icons/first-floor.png" alt="">
                <div>Audi 1</div>
            </a>
        </li>
        <li>
            <a (click)="audi2(); stepUpAnalytics('click_Auditorium_2')"><img src="assets/icons/first-floor.png" alt="">
                <div>Audi 2</div>
            </a>
        </li>
        <li>
            <a (click)="audi3(); stepUpAnalytics('click_Auditorium_3')"><img src="assets/icons/first-floor.png" alt="">
                <div>Audi 3</div>
            </a>
        </li>
        <li>
            <a (click)="audi4(); stepUpAnalytics('click_Auditorium_4')"><img src="assets/icons/first-floor.png" alt="">
                <div>Audi 4</div>
            </a>
        </li> -->
       <!--  <li>
            <a [routerLink]="['/exhibitionHall']" (click)="stepUpAnalytics('click_Exhibition')"><img src="assets/icons/exhibition.png"
                    alt="">
                <div>Exhibition</div>
            </a>
        </li> -->
        <!-- <li>
            <a [routerLink]="['/registrationDesk']" routerLinkActive="linkActive"><img [src]="(router.url==='/registrationDesk')?'../../assets/icons/agenda-h.png':'../../assets/icons/agenda.png'"
                    alt="">
                <div>Help Desk</div>
            </a>
        </li> -->
        <!-- <li>
            <a [routerLink]="['/meetingRoom']" routerLinkActive="linkActive"><img [src]="(router.url==='/meetingRoom')?'../../assets/icons/Meeting-Rooms-h.png': '../../assets/icons/Meeting-Rooms.png'"
                    alt="">
                <div>Meeting Room</div>
            </a>
        </li> -->
        <!-- <li>
            <a [routerLink]="['/networkingLounge']" (click)="stepUpAnalytics('click_Networking')"><img src="assets/icons/Exhibitors.png"
                    alt="">
                <div>Networking</div>
            </a>
        </li> -->
       <!--  <li>
            <a [routerLink]="['/keyportfolio']" (click)="stepUpAnalytics('click_Scientific_Posters')"><img src="assets/icons/Exhibitors.png"
                    alt="">
                <div> Game Zone</div>
            </a>
        </li> -->
        <!-- <li>
            <a [routerLink]="['/briefcase']" routerLinkActive="linkActive"><img [src]="(router.url==='/briefcase')?'assets/icons/Briefcase-h.png': 'assets/icons/Briefcase.png'"
                    alt="">
                <div>Briefcase</div>
            </a>
        </li> -->
        <!-- <li>
            <a data-toggle="modal" data-target=".heightlightModal"><img src="assets/icons/Briefcase.png" alt="">
                <div>Highlights</div>
            </a>
        </li> -->

        <!-- <li>
            <a [routerLink]="['/games']">
                <i class='fa fa-gamepad'></i>
                <div>Games</div>
            </a>
        </li> -->
        <!-- <li>
            <a data-toggle="modal" data-target=".briefcaseModal"><img src="assets/icons/user.png" alt="">
                <div>Briefcase</div>
            </a>
        </li> -->
        <!-- <li>
            <a [routerLink]="['/capturePhoto']" (click)="stepUpAnalytics('click_Selfie_Booth')"><img src="assets/icons/user.png"
                    alt="">
                <div>Photobooth</div>
            </a>
        </li> -->

        <!-- <a [routerLink]="['/attendees']" routerLinkActive="linkActive"><img [src]="(router.url==='/attendees')?'../../assets/icons/user-h.png': '../../assets/icons/user.png'"
                    alt="">
                <div>Attendees</div>
            </a> -->
        <!-- <li>
            <a data-toggle="modal" data-target=".attendeesModal"><img src="assets/icons/user.png" alt="">
                <div>Attendees</div>
            </a>
        </li> -->
        <!-- <li>

            <a data-toggle="modal" data-target=".chatsModal"><img src="../../assets/icons/chat.png" alt="">
                <div>Chats</div>
            </a>
        </li> -->
        <!-- <li>

            <a data-toggle="modal" data-target=".myContactsModal"><img src="../../assets/icons/contact.png" alt="">
                <div>My Contacts</div>
            </a>
        </li> -->
        <!-- <li>

            <a (click)="stepUpAnalytics('click_Feedback')" data-toggle="modal" data-target=".feebackModal"><img src="assets/icons/contact.png" alt="">
                <div>Feedback</div>
            </a>
        </li> -->
        <!-- <li>
            <a data-toggle="modal" data-target=".liveQuestionModal"><img src="../../assets/icons/chat.png" alt="">
                <div>Ask Question</div>
            </a>
        </li> -->
        <!-- <li>
            <a data-toggle="modal" data-target=".pollModal"><img src="../../assets/icons/navigation.png" alt="">
                <div>Poll</div>
            </a>
        </li> -->
        <!-- <li>
            <a data-toggle="modal" (click)="showCapture()"><img src="../../assets/icons/user.png" alt="">
                <div>Take Pic</div>
            </a>
        </li> -->

    </ul>

</div>

<!-- Information Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Profile Modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-profile></app-profile>
        </div>
    </div>
</div>

<!-- attendees Modal -->
<!-- <div class="modal fade attendeesModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-attendees></app-attendees>
        </div>
    </div>
</div> -->

<!-- agenda Modal -->
<div class="modal fade agendaModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-agenda></app-agenda>
        </div>
    </div>
</div>
<div class="modal fade heightlightModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <app-heightlight></app-heightlight>
        </div>
    </div>
</div>
<!-- Chats Modal -->
<div class="modal fade chatsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-chats></app-chats>
        </div>
    </div>
</div>
<!-- Audi Modal -->
<div class="modal fade audiModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <app-active-audi></app-active-audi>
        </div>
    </div>
</div>
<!-- Briefcase Modal-->
<div class="modal fade briefcaseModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-briefcase-docs></app-briefcase-docs>
        </div>
    </div>
</div>
<!-- GroupChat Modal -->
<div class="modal fade groupchatsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-group-chat></app-group-chat>
        </div>
    </div>
</div>

<!-- GroupChat Modal -->
<div class="modal fade groupchatsModalTwo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-group-chat-two></app-group-chat-two>
        </div>
    </div>
</div>

<!-- GroupChat Modal -->
<div class="modal fade groupchatsModalThree" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-group-chat-three></app-group-chat-three>
        </div>
    </div>
</div>

<!-- GroupChat Modal -->
<div class="modal fade groupchatsModalFour" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-group-chat-four></app-group-chat-four>
        </div>
    </div>
</div>

<!-- MyContacts Modal -->
<div class="modal fade myContactsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-my-contacts></app-my-contacts>
        </div>
    </div>
</div>

<div class="modal fade feebackModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <app-my-feedback></app-my-feedback>
        </div>
    </div>
</div>
<!-- LiveQuestion Modal -->
<div class="modal fade liveQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-question></app-question>
        </div>
    </div>
</div>
<!-- BallroomQuestion Modal -->
<div class="modal fade ballroomQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-ballroom-question></app-ballroom-question>
        </div>
    </div>
</div>
<div class="modal fade ballroomQuestionModalTwo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-ballroom-two></app-ballroom-two>
        </div>
    </div>
</div>
<div class="modal fade ballroomQuestionModalThree" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-ballroom-three></app-ballroom-three>
        </div>
    </div>
</div>
<div class="modal fade ballroomQuestionModalFour" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-ballroom-four></app-ballroom-four>
        </div>
    </div>
</div>
<!-- LivePoll Modal -->
<div class="modal fade pollModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-poll></app-poll>
        </div>
    </div>
</div>
<!-- LivePoll Modal Four-->
<div class="modal fade pollModalFour" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-poll-four></app-poll-four>
        </div>
    </div>
</div>
<!-- LivePoll Modal Three-->
<div class="modal fade pollModalThree" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-poll-three></app-poll-three>
        </div>
    </div>
</div>
<!-- LivePoll Modal Two-->
<div class="modal fade pollModalTwo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-poll-two></app-poll-two>
        </div>
    </div>
</div>
<!-- wtsapp Modal -->
<div class="modal fade wtsappModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <app-wtspp-file></app-wtspp-file>
        </div>
    </div>
</div>

<!-- DoCs-Info -->
<!-- <div class="modal fade docsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-docs-info></app-docs-info>
        </div>
    </div>
</div> -->

<!-- Sales-Info -->
<!-- <div class="modal fade salesModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-sales-info></app-sales-info>
        </div>
    </div>
</div> -->
<!-- Sales-Info -->
<div class="modal fade scheduleCallmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-schedule-call></app-schedule-call>
        </div>
    </div>
</div>

 <!-- capturePhoto Modal -->
<!-- <div class="modal fade capturePhoto" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button style="padding:5px; outline:none" type="button" class="close text-right" (click)="closeCamera()">
                <span aria-hidden="true" class="text-dark">&times;</span>
            </button>
            
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="vh-100">
                            <div class="d-flex flex-column align-items-center">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="p-1" [ngStyle]="{'display':showImage? 'none': 'block'}">
                                            <video #video class="vid videoData" autoplay></video>

                                            <img style="position: absolute;top:25px;left:37px;" id="logo" src="assets/img/logo.png" />

                                          
                                        </div>
                                    </div>
                                </div>
                                <div class="p-2" *ngIf="!showImage">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <img src="assets/img/camera.png" width="50" style="cursor: pointer" (click)="capture()"
                                                alt=""> -->
                                            <!-- <button class="btn btn-primary" (click)="capture()">Capture Image</button> -->
                                        <!-- </div>
                                    </div>
                                </div>
                                <div class="p-1" [ngStyle]="{'display':showImage? 'block': 'none'}">
                                    <canvas #canvas id="canvas" class="vid"></canvas>
                                    <div class="text-center p-2">
                                        <a href="{{img}}" download="screenshot.jpg"><img src="assets/img/download.png"
                                                width="50" alt="" (click)="stopVideo()"></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> --> 

<!-- photoboothModal -->
<div class="modal fade" id="photoboothModal" tabindex="-1" role="dialog" aria-labelledby="photoboothModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">      
         <!-- <div class="modal-header"> -->
         <!--  <button type="button" class="close" (click)="closePhotobooth()">
             <span aria-hidden="true">&times;</span> 
          </button> -->
           <!-- <button type="button" class="close" (click)="closePhotobooth()">
             <span aria-hidden="true">&times;</span> 
          </button> -->
        <!-- </div>  --> 
        <div class="modal-body">
            <section id="section">
                <div id="content-wrap">
                    <div id="background">
                        <div id="wholeCam" [ngStyle]="{'display':showImage? 'none': 'block'}">
                            <img id="camImg" src="assets/IPA/photo jacket (1).png" width="100%" alt="">
                            
                            
                             <video #videoStream id="videobgStream" class="vid videoData" autoplay></video> 
                            <div id="buttons">
                                <span id="closePopup" (click)="closePhotobooth()">&times;</span>
                                 <img src="assets/honeywell/click.png" width="10%" (click)="capturePhoto()" alt=""> 
                                </div>
                        </div>
                        <div [ngStyle]="{'display':showImage? 'block': 'none'}">
                            <canvas #canvas id="canvas" class="videobgStream" style="width: 100%;"></canvas>
                            <div id="buttons">
                                <span id="closePopup" (click)="closePhotobooth()">&times;</span>
                              <a href="{{img}}" download="screenshot.png">
                                <img src="assets/honeywell/down.png" width="12%" (click)="downloadPic()" alt="">
                              </a>
                              <img src="assets/honeywell/re.png" width="12%" (click)="reload()" alt="">                            
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
      </div>
    </div>
  </div>


  ts 


  import { Component, OnInit, Renderer2, ViewChild, ElementRef, Output, HostListener, AfterViewInit } from '@angular/core';
import { fadeAnimation } from '../shared/animation/fade.animation';
import { Router } from '@angular/router';
import { EventEmitter } from 'events';
import { AuthService } from '../services/auth.service';
import { FetchDataService } from '../services/fetch-data.service';
import { Location } from '@angular/common';
declare var $:any;
@Component({
  selector: 'app-layout',
  templateUrl: './layout.component.html',
  styleUrls: ['./layout.component.scss'],
  animations: [fadeAnimation]

})
export class LayoutComponent implements OnInit, AfterViewInit {
  firstName;
  showImage = false;
  landscape = true;
  actives: any = [];
  activeAuditoriums = [];
  cameraStream;
  
 
 /* img;  */
  constructor( private location: Location,public router: Router, private renderer: Renderer2, private auth: AuthService, private _fd: FetchDataService) { }

  ngOnInit(): void {
    this.audiActive();
    $('.videoData').show();
    this.firstName = JSON.parse(localStorage.getItem('virtual')).name;
    this.playAudio();
  }
  ngAfterViewInit() {
    if (window.innerHeight > window.innerWidth) {
      this.landscape = false;
    }
  }
  public getRouterOutletState(outlet) {
    return outlet.isActivated ? outlet.activatedRoute : '';
  }
  showModal = false;
  toggleModal() {
    this.showModal = !this.showModal;
  }

  readOutputValueEmitted(event) {
    console.log('kkkk', event)
  }

  videoWidth = 0;
  videoHeight = 0;
  @ViewChild('videoStream', { static: true }) videoElement: ElementRef;
  /*  @ViewChild('video', { static: true }) videoElement: ElementRef; */ 
  @ViewChild('canvas', { static: true }) canvas: ElementRef; 
  @Output('myOutputVal') myOutputVal = new EventEmitter();
  playAudio() {
    let abc: any = document.getElementById('myAudio');
    abc.play();
  }
  constraints = {
    video: {
      facingMode: "environment",
      width: { ideal: 720 },
      height: { ideal: 480 }
    }
  };
  audis = ['Audi 1', 'Audi 2'];
  audiActive() {
    this._fd.activeAudi().subscribe(res => {
      console.log(res, 'resssss');
      this.actives = res.result;
      this.activeAuditoriums = res.result;
      console.log(this.actives[0]);
    })
  }
  gotoAudi(audi) {
    if (audi === 1) {
      localStorage.setItem('serdia_room', 'myanmar_16');
      if (this.actives[3].status == true) {
        this.router.navigate(['/auditorium/one']);
      }
      else {
        $('.audiModal').modal('show');
      }
    }
    if (audi === 2) {
      localStorage.setItem('serdia_room', 'myanmar_17');
      if (this.actives[2].status == true) {
        this.router.navigate(['/auditorium/two']);
      }
      else {
        $('.audiModal').modal('show');
      }
    }
    if (audi === 3) {
      localStorage.setItem('serdia_room', 'myanmar_18');
      if (this.actives[1].status == true) {
        this.router.navigate(['/auditorium/three']);
      }
      else {
        $('.audiModal').modal('show');

      }
    }
    if (audi === 4) {
      localStorage.setItem('serdia_room', 'myanmar_19');
      // this.router.navigate(['/auditorium/four']);
      if (this.actives[0].status == true) {
        this.router.navigate(['/auditorium/fourth-auditorium']);
      }
      else {
        $('.audiModal').modal('show');
      }

    }
  }

  startCamera() {
    if (!!(navigator.mediaDevices && navigator.mediaDevices.getUserMedia)) {
      navigator.mediaDevices.getUserMedia(this.constraints).then(this.attachVideo.bind(this)).catch(this.handleError);
    } else {
      alert('Sorry, camera not available.');
    }

  }
  handleError(error) {
    console.log('Error: ', error);
  }
  stepUpAnalytics(action) {
    let virtual: any = JSON.parse(localStorage.getItem('virtual'));
    let yyyy: any = new Date().getFullYear();
    let dd: any = new Date().getDate();
    let mm: any = new Date().getMonth() + 1;
    let time: any = new Date().getHours() + ':' + new Date().getMinutes() + ':' + new Date().getSeconds();
    if (dd < 10) {
      dd = '0' + dd;
    }
    if (mm < 10) {
      mm = '0' + mm;
    }
    const formData = new FormData();
    formData.append('event_id', '183');
    formData.append('user_id', virtual.id);
    formData.append('name', virtual.name);
    formData.append('email', virtual.email);
    formData.append('company', 'others');
    formData.append('designation', 'others');
    formData.append('action', action);
    formData.append('created', yyyy + '-' + mm + '-' + dd + ' ' + time);
    this._fd.analyticsPost(formData).subscribe(res => {
      console.log('asdf', res);
    });
  }

  stream: any;
  attachVideo(stream) {
    this.renderer.setProperty(this.videoElement.nativeElement, 'srcObject', stream);
    this.renderer.listen(this.videoElement.nativeElement, 'play', (event) => {
      this.videoHeight = this.videoElement.nativeElement.videoHeight;
      this.videoWidth = this.videoElement.nativeElement.videoWidth;
    });
  }
  
  capture() {
    this.showImage = true;
    this.renderer.setProperty(this.canvas.nativeElement, 'width', this.videoWidth);
    this.renderer.setProperty(this.canvas.nativeElement, 'height', this.videoHeight);
    this.canvas.nativeElement.getContext('2d').drawImage(this.videoElement.nativeElement, 0, 0);
    let canvas: any = document.getElementById("canvas");
    let context = canvas.getContext('2d');
    context.strokeStyle = "#ffc90e";
    context.lineWidth = 5;
    var img = document.getElementById("logo");
    context.drawImage(img, 5, 5, 120, 50);
    context.strokeRect(0, 0, canvas.width, canvas.height);
    let imgPath = '../../../assets/img/xtrem.jpeg';
    let imgObj = new Image();

    imgObj.src = imgPath;
    this.img = canvas.toDataURL("image/png");
    console.log('kkkk', imgObj.src) 
    // $('.videoData').hide();
  }
  stopVideo() {
    this.renderer.listen(this.videoElement.nativeElement, 'stop', (event) => {
      console.log('dsfj')
    });
  }

  /* showCapture() {
    $('.capturePhoto').modal('show');
    this.startCamera();
  }

  closeCamera() {
    location.reload();
    $('.capturePhoto').modal('hide');

  } */

  playAudioClap() {
    let playaudio: any = document.getElementById('myAudioClap');
    playaudio.play();
  }

  openSidebar() {
    document.getElementById("mySidenav").style.width = "220px";
  }

  closeSidebar() {
    document.getElementById("mySidenav").style.width = "0";
  }
  @HostListener('window:resize', ['$event']) onResize(event) {
    if (window.innerHeight > window.innerWidth) {
      this.landscape = false;
    } else {
      this.landscape = true;
    }
  }
  logout() {
   
    let user_id = JSON.parse(localStorage.getItem('virtual')).id;
    this.auth.logout(user_id).subscribe(res => {
      this.router.navigate(['/login']);
      localStorage.clear();      
    });
  }

 



  showPhotobooth(){
    $('#photoboothModal').modal('show');
    this.cameraStream = null;
    this.showImage = false;
    this.startWebcam();
  }
  startWebcam(){
    // const constraints = { "video": { width: 320, height: 180, facingMode: "user" }};
    let constraints = {
      facingMode: { exact: 'environment' },
      video: {
        width: { ideal: 640 },
        height: { ideal: 360 }
      }
    };
    navigator.mediaDevices.getUserMedia(constraints).then(this.gotMedia.bind(this)).catch(e=>{
        console.error('getusermedia() failed: '+e);
    })
  }
  theRecorder:any;
  gotMedia(stream){
    this.cameraStream = stream;
    this.renderer.setProperty(this.videoElement.nativeElement, 'srcObject', stream);
  }
  dataUrl;
  img;
  capturePhoto(){
    this.showImage = true;
    let canvasRec:any = document.getElementById('canvas');
    let preview:any = document.getElementById('videobgStream');
    let context = canvasRec.getContext('2d');
    var cw = 640;
    var ch = 360;
    canvasRec.width = cw;
    canvasRec.height = ch;
    context.drawImage(preview, 0, 0, cw, ch ); 
       
    let watermark = new Image();
    let bgimg = new Image();
    context.beginPath();
    
    bgimg.src = 'assets/IPA/photo jacket (1).png';
    context.drawImage(bgimg, 0, 0, preview.videoWidth, preview.videoHeight);
    this.dataUrl = canvasRec.toDataURL('mime');
    this.img = canvasRec.toDataURL("image/png", 0.7);
  }
  @HostListener('document:click', ['$event', '$event.target'])
    onClick(event: MouseEvent, targetElement: HTMLElement): void {
      let selfie:any=document.getElementById('photoboothModal');
      if(targetElement===selfie){
        this.closePhotobooth();
      }
  }
  @HostListener('keydown', ['$event']) onKeyDown(e) {
    if (e.keyCode == 27) {
      this.closePhotobooth();
    }
  }
  closePhotobooth(){
    this.cameraStream.getTracks().forEach(track => { track.stop(); }); 
    $('#photoboothModal').modal('hide');
    // this.location.back();
  }
  downloadPic(){
    window.location.href=this.img;
    let user_id = JSON.parse(localStorage.getItem('virtual')).id;
    let user_name = JSON.parse(localStorage.getItem('virtual')).name;
    const event_id = '178';
    const formData = new FormData();
    formData.append('user_id', user_id);
    formData.append('user_name', user_name);
    formData.append('image', this.img);
    formData.append('event_id', event_id);
    this._fd.uploadsample(formData).subscribe(res => {
      console.log('upload', res);
    });
    
  }
  reload() {
    this.cameraStream.getTracks().forEach(track => { track.stop(); }); 
    this.showImage = false;
    this.startWebcam();
  }

 
  
 

}



  

