<!-- <div class="h-5">
    <img src="../../assets/img/logo.png" class="p-2" alt="">
    <div class="float-right p-3">
        <div style="color: #f15c25;border: 1px solid #f15c25;padding: 5px; font-weight: 900">#ETSaleStrategy</div>
    </div>
</div> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12  px-0 ">
            <img src="assets/images/background.jpg" class="signup-img" alt="login image">
            <div class="signup-section">
                <div class="text-center pb-2">
                    <img src="assets/images/Logo.png" alt="" width="70px">
                    <div>
                    <a class="heading">Registration</a>
                     </div>
                </div>
                <!-- <h4 class="pl-3 pt-2"><span style="border-bottom: 2px solid black; font-weight: 600">SIGNUP</span></h4> -->
                <h6 class="pl-3 pt-2 uppercase" *ngIf="msg"><span style="font-weight: 400; color: green;">{{msg}}</span>
                </h6>
                <div class="row" >
                        <!-- <div class="col-6">
                            <h2 class="text-white" style="font-weight: 900;font-size: 35px;">HBT INDIA PARTNER CONFERENCE 2021</h2>
                            <p class="text-white">Event Date: 3rd September 2021</p>
                            <p class="text-white">Event Time: 10:30 am onwards</p>
                        </div> -->
                        <div class="col-12">
                            <form class="pt-2" [formGroup]="signupForm" (ngSubmit)="register()" #formDir="ngForm">
                                <div class="row" style="background-color: #d7362f;
                                border-radius: 30px;
                                padding: 15px;">

                                
                                <div class="col-6">
                                    <p class="text-white" style="font-weight: 900;">Name</p>
                                    <p class="text-white" style="margin-bottom: 0rem;">Event Date: 3rd September 2021</p>
                                    <p class="text-white" style="margin-bottom: 0rem;">Event Time: 10:30 am onwards</p>
                                </div>
                                <div class="col-6">
                                    <div class="form-row">
                                        <div class="form-group col-md-12 col-xl-12 col-sm-12 pt-2">
                                            <!-- <label for="formGroupExampleInput">Full Name*</label> -->
                                            <input type="text" formControlName="first_name" value="" placeholder="Full Name">
                                            <div style="color: white;" *ngIf="(signupForm.get('first_name').invalid && formDir.submitted) || (signupForm.get('first_name').dirty && signupForm.get('first_name').invalid)">
                                                <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">* name required</div> -->
                                                Name is required*
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-xl-12 col-sm-12 pt-2">
                                            <!-- <label for="formGroupExampleInput">Organisation*</label> -->
                                            <input type="text" formControlName="organisation" value="" placeholder="Organisation">
                                            <div style="color: white;" *ngIf="(signupForm.get('organisation').invalid && formDir.submitted) || (signupForm.get('organisation').dirty && signupForm.get('organisation').invalid)">
                                                <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">* name required</div> -->
                                                Organisation is required*
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-xl-12 col-sm-12 pt-2">
                                            <!-- <label for="formGroupExampleInput">Email ID *</label> -->
                                            <input type="email" formControlName="email" value="" placeholder="Email ID">
                                            <div style="color: white;" *ngIf="(signupForm.get('email').invalid && formDir.submitted) || (signupForm.get('email').dirty && signupForm.get('email').invalid)">
                                                <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">*Email must be on the (@sanofi.com & sanofi-india.com) domain</div> -->
                                                Email is required*
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-xl-12 col-sm-12 pt-2">
                                            <!-- <label for="formGroupExampleInput">Phone / Mobile No.*</label> -->
                                            <input type="text" formControlName="mobile" value="" placeholder="Phone / Mobile No.">
                                            <div style="color: white;" *ngIf="(signupForm.get('mobile').invalid && formDir.submitted) || (signupForm.get('mobile').dirty && signupForm.get('mobile').invalid)">
                                                <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">* name required</div> -->
                                                Mobile No. is required*
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-12 col-xl-12 col-sm-12 pt-4 pl-4">
                                    <label for="formGroupExampleInput">Headquater*</label>
                                    <input type="text" formControlName="job_title" required>
                                    <div *ngIf="(signupForm.get('job_title').invalid && formDir.submitted) || (signupForm.get('job_title').dirty && signupForm.get('job_title').invalid)">
                                        <div style="font-weight: 400; font-size: 12px; color: #e7388b;">*Job title required</div>
    
                                    </div>
                                </div> -->
    
    
    
                                        <!-- <div class="col-md-6 col-xl-6 col-sm-12 pt-4 pl-4">
                                    <label for="formGroupExampleInput">Token*</label>
                                    <input type="text" formControlName="token">
                                </div> -->
    
                                        <!-- <div class="col-md-6 col-xl-6 col-sm-12 pt-4 pl-4">
                                    <img [src]="imgURL" height="100" *ngIf="imgURL">
                                </div>
                                <div class="col-md-12 col-xl-12 col-sm-12 pl-4">
                                    <div class="checkbox">
                                        <input type="checkbox" id="checkbox" name="" value="" (change)="isChecked($event)">
                                        <label for="checkbox"><span>*I agree, By supplying my contact
                                                information.</span></label>
                                    </div>
                                </div> -->
                                        
    
                                    </div>
                                </div>
                                </div>
                                <!-- &nbsp; -->
                                <div class="row mt-2 pb-4">
                                    <!-- <div class="col-md-8 col-xl-8 col-sm-8 pt-2">
                                        <h4 class="login-wrapper-footer-text">
                                            <a routerLink="/login" class="text-reset" style="text-decoration: none;">Click Here</a> to login if already registered</h4>
                                    </div> -->
                                    <div class="col-md-12 col-xl-12 col-sm-12">
                                        <button class="submit-btn" type="submit" style="float: right;">Submit</button>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                    <!-- </div> -->
                </div>
                <!-- <div class="row pt-3">
                    <div class="col-12">
                        <h4 class="login-wrapper-footer-text">
                            <a routerLink="/login" class="text-reset" style="text-decoration: underline;">Click Here</a> to login if already registered</h4>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

</div>





<div class="form-row">
    <div class="form-group col-md-12 col-xl-12 col-sm-12 pt-2">
        <!-- <label for="formGroupExampleInput">Full Name*</label> -->
        <input type="text" formControlName="first_name" value="" placeholder="Full Name">
        <div style="color: white;" *ngIf="(signupForm.get('first_name').invalid && formDir.submitted) || (signupForm.get('first_name').dirty && signupForm.get('first_name').invalid)">
            <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">* name required</div> -->
            Name is required*
        </div>
    </div>
    <div class="form-group col-md-12 col-xl-12 col-sm-12 pt-2">
        <!-- <label for="formGroupExampleInput">Organisation*</label> -->
        <input type="text" formControlName="organisation" value="" placeholder="Organisation">
        <div style="color: white;" *ngIf="(signupForm.get('organisation').invalid && formDir.submitted) || (signupForm.get('organisation').dirty && signupForm.get('organisation').invalid)">
            <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">* name required</div> -->
            Organisation is required*
        </div>
    </div>
    <div class="form-group col-md-12 col-xl-12 col-sm-12 pt-2">
        <!-- <label for="formGroupExampleInput">Email ID *</label> -->
        <input type="email" formControlName="email" value="" placeholder="Email ID">
        <div style="color: white;" *ngIf="(signupForm.get('email').invalid && formDir.submitted) || (signupForm.get('email').dirty && signupForm.get('email').invalid)">
            <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">*Email must be on the (@sanofi.com & sanofi-india.com) domain</div> -->
            Email is required*
        </div>
    </div>
    <div class="form-group col-md-12 col-xl-12 col-sm-12 pt-2">
        <!-- <label for="formGroupExampleInput">Phone / Mobile No.*</label> -->
        <input type="text" formControlName="mobile" value="" placeholder="Phone / Mobile No.">
        <div style="color: white;" *ngIf="(signupForm.get('mobile').invalid && formDir.submitted) || (signupForm.get('mobile').dirty && signupForm.get('mobile').invalid)">
            <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">* name required</div> -->
            Mobile No. is required*
        </div>
    </div>
    <!-- <div class="col-md-12 col-xl-12 col-sm-12 pt-4 pl-4">
<label for="formGroupExampleInput">Headquater*</label>
<input type="text" formControlName="job_title" required>
<div *ngIf="(signupForm.get('job_title').invalid && formDir.submitted) || (signupForm.get('job_title').dirty && signupForm.get('job_title').invalid)">
    <div style="font-weight: 400; font-size: 12px; color: #e7388b;">*Job title required</div>

</div>
</div> -->



    <!-- <div class="col-md-6 col-xl-6 col-sm-12 pt-4 pl-4">
<label for="formGroupExampleInput">Token*</label>
<input type="text" formControlName="token">
</div> -->

    <!-- <div class="col-md-6 col-xl-6 col-sm-12 pt-4 pl-4">
<img [src]="imgURL" height="100" *ngIf="imgURL">
</div>
<div class="col-md-12 col-xl-12 col-sm-12 pl-4">
<div class="checkbox">
    <input type="checkbox" id="checkbox" name="" value="" (change)="isChecked($event)">
    <label for="checkbox"><span>*I agree, By supplying my contact
            information.</span></label>
</div>
</div> -->
    

   </div> 




   <!-- <div class="h-5">
    <img src="../../assets/img/logo.png" class="p-2" alt="">
    <div class="float-right p-3">
        <div style="color: #f15c25;border: 1px solid #f15c25;padding: 5px; font-weight: 900">#ETSaleStrategy</div>
    </div>
</div> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12  px-0 ">
            <img src="assets/images/background.jpg" class="signup-img" alt="login image">
            <div class="signup-section">
                <div class="text-center pb-2">
                    <img style="width: 35%;
                    margin: auto;
                    padding-top: 5vh;
                    text-align: center;" src="assets/images/Logo.png" alt="" width="70px">
                    <div>
                    <button class="heading" style="margin-top:20px;">Registration</button>
                     </div>
                </div>
                <!-- <h4 class="pl-3 pt-2"><span style="border-bottom: 2px solid black; font-weight: 600">SIGNUP</span></h4> -->
                <h6 class="pl-3 pt-2 uppercase" *ngIf="msg"><span style="font-weight: 400; color: green;">{{msg}}</span>
                </h6>
                <div class="row" >
                        <!-- <div class="col-6">
                            <h2 class="text-white" style="font-weight: 900;font-size: 35px;">HBT INDIA PARTNER CONFERENCE 2021</h2>
                            <p class="text-white">Event Date: 3rd September 2021</p>
                            <p class="text-white">Event Time: 10:30 am onwards</p>
                        </div> -->
                        <div class="col-12">
                            <form class="pt-2" [formGroup]="signupForm" (ngSubmit)="register()" #formDir="ngForm">
                                <!-- {{signupForm.value | json}} -->
                                <div class="row" style="background-color: transparent;
                                border-radius: 30px;
                                color:black;
                                padding: 15px;">

                                
                                <div class="col-6">
                                    <div class="form-row">
                                        <div class="form-group col-md-12 col-xl-12 col-sm-12 ">
                                    <p style="font-weight: 900;">NAME OF APPLICANT:</p>
                                    <input type="text" formControlName="name" class="form-control" style="border:1px solid black">
                                    <p  style="margin-bottom: 0rem;">DESIGNATION:</p>
                                    <input type="text" class="form-control"  formControlName="designation" style="border:1px solid black">
                                    <p style="margin-bottom: 0rem;">DEPARTMENT/FUNCTION:</p>
                                    <input type="text" class="form-control"  formControlName="category" style="border:1px solid black">
                                    </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-row">
                                        <div class="form-group col-md-12 col-xl-12 col-sm-12 ">
                                   <p style="font-weight: 900;">NAME OF COMPANY:</p>
                                    <input type="text" class="form-control"formControlName="company"  style="border:1px solid black">
                                    <p style="margin-bottom: 0rem;color: #007aaa;">CONTACT NUMBER:</p>
                                    <input type="text" class="form-control" formControlName="mobile" style="border:1px solid black">
                                    <p style="margin-bottom: 0rem;">EMAIL ID:</p>
                                    <input type="text" class="form-control" formControlName="email" style="border:1px solid black">
                                            <!-- <label for="formGroupExampleInput">Full Name*</label> -->
<!--                                             <input type="text" formControlName="first_name" value="" placeholder="Full Name">
                                            <div style="color: white;" *ngIf="(signupForm.get('first_name').invalid && formDir.submitted) || (signupForm.get('first_name').dirty && signupForm.get('first_name').invalid)">
 -->                                                <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">* name required</div> -->
                                               <!--  Name is required*
                                            </div> -->
                                        </div>
<!--                                         <div class="form-group col-md-12 col-xl-12 col-sm-12 pt-2">
 -->                                            <!-- <label for="formGroupExampleInput">Organisation*</label> -->
<!--                                             <input type="text" formControlName="organisation" value="" placeholder="Organisation">
                                            <div style="color: white;" *ngIf="(signupForm.get('organisation').invalid && formDir.submitted) || (signupForm.get('organisation').dirty && signupForm.get('organisation').invalid)">
 -->                                                <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">* name required</div> -->
                                        <!--         Organisation is required*
                                            </div>
                                        </div> -->
<!--                                         <div class="form-group col-md-12 col-xl-12 col-sm-12 pt-2">
 -->                                            <!-- <label for="formGroupExampleInput">Email ID *</label> -->
<!--                                             <input type="email" formControlName="email" value="" placeholder="Email ID">
                                            <div style="color: white;" *ngIf="(signupForm.get('email').invalid && formDir.submitted) || (signupForm.get('email').dirty && signupForm.get('email').invalid)">
 -->                                                <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">*Email must be on the (@sanofi.com & sanofi-india.com) domain</div> -->
<!--                                                 Email is required*
                                            </div>
                                        </div>
 -->                                       <!--  <div class="form-group col-md-12 col-xl-12 col-sm-12 pt-2"> -->
                                            <!-- <label for="formGroupExampleInput">Phone / Mobile No.*</label> -->
<!--                                             <input type="text" formControlName="mobile" value="" placeholder="Phone / Mobile No.">
                                            <div style="color: white;" *ngIf="(signupForm.get('mobile').invalid && formDir.submitted) || (signupForm.get('mobile').dirty && signupForm.get('mobile').invalid)">
 -->                                                <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">* name required</div> -->
                                             <!--    Mobile No. is required*
                                            </div>
                                        </div> -->
                                        <!-- <div class="col-md-12 col-xl-12 col-sm-12 pt-4 pl-4">
                                    <label for="formGroupExampleInput">Headquater*</label>
                                    <input type="text" formControlName="job_title" required>
                                    <div *ngIf="(signupForm.get('job_title').invalid && formDir.submitted) || (signupForm.get('job_title').dirty && signupForm.get('job_title').invalid)">
                                        <div style="font-weight: 400; font-size: 12px; color: #e7388b;">*Job title required</div>
    
                                    </div>
                                </div> -->
    
    
    
                                        <!-- <div class="col-md-6 col-xl-6 col-sm-12 pt-4 pl-4">
                                    <label for="formGroupExampleInput">Token*</label>
                                    <input type="text" formControlName="token">
                                </div> -->
    
                                        <!-- <div class="col-md-6 col-xl-6 col-sm-12 pt-4 pl-4">
                                    <img [src]="imgURL" height="100" *ngIf="imgURL">
                                </div>
                                <div class="col-md-12 col-xl-12 col-sm-12 pl-4">
                                    <div class="checkbox">
                                        <input type="checkbox" id="checkbox" name="" value="" (change)="isChecked($event)">
                                        <label for="checkbox"><span>*I agree, By supplying my contact
                                                information.</span></label>
                                    </div>
                                </div> -->
                                        
    
                                       </div> 
                                </div>
                                </div>
                                <!-- &nbsp; -->
                                <!-- <div class="row mt-2 pb-4"> -->
                                    <!-- <div class="col-md-8 col-xl-8 col-sm-8 pt-2">
                                        <h4 class="login-wrapper-footer-text">
                                            <a routerLink="/login" class="text-reset" style="text-decoration: none;">Click Here</a> to login if already registered</h4>
                                    </div> -->
                                    <!-- <div class="col-md-12 col-xl-12 col-sm-12">
                                        <button class="submit-btn" type="submit" style="float: right;">Submit</button>
                                    </div> -->
                                <!-- </div> -->
                                <div class="formLastContainer">
                                    <p style="color: #007aaa;">WHAT ARE YOUR EXPECTATIONS FROM THE WORKSHOP?</p>
                                    <textarea formControlName="type"style="border: 3px solid #007aaa;
                                    margin-bottom:30px;
                                    border-radius: 20px;
                                    background: white;
                                    width:50%;
                                    ">
                                    </textarea>
                                    <div class="submit-button">
                                      <button class="submit-btn" type="submit" style="background: rgb(0, 136, 148);
                                      background: linear-gradient(
                                        90deg,
                                        rgba(0, 136, 148, 1) 0%,
                                        rgba(0, 66, 128, 1) 25%,
                                        rgba(0, 66, 128, 1) 75%,
                                        rgba(0, 136, 148, 1) 100%
                                      );
                                      color: white;
                                      letter-spacing: 1.5px;
                                      border-radius: 25px;">REGISTER NOW</button>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                    <!-- </div> -->
                </div>
                <!-- <div class="row pt-3">
                    <div class="col-12">
                        <h4 class="login-wrapper-footer-text">
                            <a routerLink="/login" class="text-reset" style="text-decoration: underline;">Click Here</a> to login if already registered</h4>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

</div>






.signup-img {
    // position: absolute;
    width: 100%;
    // height: 100vh;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: left;
       object-position: left;
}
.signup-section{
    // position: absolute;
    // line-height: 17px;
    // height: 100%;
    // background: #f1eaea61;
    // background: #312f2f8a;
    // top: 0;
    // color: #ffffffb3;
    // bottom: 0;
    position: absolute;
    top: 35%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    // overflow: hidden;
}
.form-row{
    font-size: 12px;
    input {
      font-size: 20px;
      height: 25px;
      letter-spacing: 1px;;
        color: #353434cf;
        background: white;
        outline: 0;
        border-width: 0 0 0px;
        border-color: black;
        display: block;
        width: 100%;
      }
      input:focus {
        border-color: green
      }

     /*  .submit-btn{
        outline: none;
        border: 0;
        background: #000;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        text-transform: uppercase;
        color: #fff;
        margin-top: 10px;
        height: 50px;
        border-radius: 2px;
        font-weight: 600;
        max-width: 150px;
        text-align: center;
        cursor: pointer;
      } */
}
$color-black: #000;

.checkbox {
    width: 100%;
    margin: 15px auto;
    position: relative;
    display: block;
    label {
        position: relative;
        min-height: 34px;
        display: block;
        padding-left: 40px;
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;
        span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            margin: 4px;
            width: 22px;
            height: 22px;
            // background: #000;
            transition: transform 0.28s ease;
            border-radius: 2px;
            border: 1px solid black;
        }
        &:after {
            content: '';
            display: block;
            width: 14px;
            height: 7px;
            border-bottom: 2px solid $color-black;
            border-left: 2px solid $color-black;
            transform: rotate(-45deg) scale(0);
            transition: transform ease 0.25s;
            position: absolute;
            top: 9px;
            left: 9px;
        }
    }
    input[type="checkbox"] {
        width: auto;
        opacity: 0.00000001;
        position: absolute;
        left: 0;
        margin-left: -20px;
        &:checked ~ label{
            // &:before {
                // border: 2px solid $color-black;
            // }
            &:after {
                transform: rotate(-45deg) scale(1);
            }
        }
        &:focus + label::before {
            outline: 0;
        }
    }
}
.login-wrapper {
  width: 300px;
  max-width: 100%;
  padding-top: 24px;
  padding-bottom: 24px; }
  @media (max-width: 575px) {
    .login-wrapper {
      width: 100%; } }
  .login-wrapper label {
    font-size: 14px;
    font-weight: bold;
    // color: #b0adad;
    color: #495057;
  }
  /* .login-wrapper .form-control {
    outline: none;
    box-shadow:none !important;
    border:1px solid #0808080d !important;

    background: #0808080d;
    border: none;
    border: 1px solid black;
    border-radius: 0;
    padding: 9px 5px;
    min-height: 34px;
    font-size: 15px;
    font-weight: normal;
  } */
    .login-wrapper .form-control::-webkit-input-placeholder {
      color: #495057;
      font-weight: 500;
    }
    .login-wrapper .form-control::-moz-placeholder {
      color: #495057;
      font-weight: 500;
    }
    .login-wrapper .form-control:-ms-input-placeholder {
      color: #495057;
      font-weight: 500;
    }
    .login-wrapper .form-control::-ms-input-placeholder {
      color: #495057;
      font-weight: 500;
    }
    .login-wrapper .form-control::placeholder {
      color: #495057;
      font-weight: 500;
    }
  .login-wrapper .login-btn {
    padding: 12px 12px;
    background-color:transparent;
    border-radius: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 14px;
  }
    .login-wrapper .login-btn:hover {
      border: 1px solid #da251c;
      background-color: #fff;
      color: #da251c;
    }
  .login-wrapper a.forgot-password-link {
    // color: #080808;
    color: black;
    font-weight: 500;
    font-size: 15px;
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 50px;
  }
  @media (max-width: 575px) {
    .login-wrapper a.forgot-password-link {
      margin-bottom: 16px;
    }
  }
  .login-wrapper-footer-text {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin-bottom: 0;
    a{
      // text-decoration: none;
      font-weight: 700;
      color: #7ca7eb;
    }
  }


  // .col-12,.col-6,.row{
  //   padding-right: 0px !important;
  //   padding-left: 0px !important;
  // }
  // .row{
  //   margin-right: 0px !important;
  //   margin-left: 0px !important;
  // }

  @media only screen and (max-width: 850px) {
    .signup-section{
      width: 90% !important;
    }
    p{
      font-size: 14px !important;
    }
    h2{
      font-size: 30px !important;
    }
  }
  h2{
    font-size: 35px;
  }
  /* .submit-btn{
    outline: none;
    border: 0;
    background: #000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 10px;
    height: 40px;
    border-radius: 2px;
    font-weight: 600;
    max-width: 110px;
    text-align: center;
    cursor: pointer;
  } */



  .heading{
    
    background: rgb(0, 136, 148);
    background: linear-gradient(
      90deg,
      rgba(0, 136, 148, 1) 0%,
      rgba(0, 66, 128, 1) 25%,
      rgba(0, 66, 128, 1) 75%,
      rgba(0, 136, 148, 1) 100%
    );
    color: white;
    letter-spacing: 1.5px;
    border-radius: 25px;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
  }
  .formLastContainer{
    text-align: center;
  }

  .form-row p{
    color: #007aaa;
  }
  .login-wrapper .form-control {
    background: #ececec;
    border: 0;
    border-radius: 7px;
    font-size: 12px;
  }

















<!--  -->



<body class="registration">   
    <div class="portrait-content">
        <div class="portrait-center">
            <img src="assets/images/rotate.gif" alt="" />
            <p>Please Rotate your device</p>
        </div>
    </div>
    <div class="main_container">
        <div class="logo">
            <img src="assets/images/Logo.png" class="img-fluid" alt="">
            <button style="cursor:auto;" class="btn">REGISTRATION</button>
        </div>
        <div class="reg_form">
            <form [formGroup]="signupForm" (ngSubmit)="register()"#formDir="ngForm" autocomplete="off">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="name">NAME OF APPLICANT : <span class="red">*</span></label>
                            <input type="text" [class.is-invalid]="formDir.submitted && signupForm.get('name')?.invalid" class="form-control"formControlName="name" id="name" >
                            <div class="invalid-feedback" style="font-size: 10px;color:red">
                                Name Is Required*
                                </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="company">NAME OF COMPANY : <span class="red">*</span></label>
                            <input type="text" [class.is-invalid]="formDir.submitted && signupForm.get('company')?.invalid" class="form-control"formControlName="company" id="company"required>
                            <div class="invalid-feedback" style="font-size: 10px;color:red">
                                Name Of Company Is Required*
                                </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="designation">DESIGNATION : <span class="red">*</span></label>
                            <input type="text" [class.is-invalid]="formDir.submitted && signupForm.get('designation')?.invalid"formControlName="designation" class="form-control" id="designation"required>
                            <div class="invalid-feedback" style="font-size: 10px;color:red">
                                Designation Is Required*
                                </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="number">CONTACT NUMBER : <i>(optional)</i></label>
                            <input type="number" formControlName="mobile" class="form-control" id="number"required>
                            <!-- <div  style="font-size: 10px;color:red"*ngIf="(signupForm.get('mobile').invalid && formDir.submitted) || (signupForm.get('mobile').dirty && signupForm.get('mobile').invalid)">
                              Contact Number Is Required * 
                                </div> -->
                               
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="department">DEPARTMENT / FUNCTION : <span class="red">*</span></label>
                            <input type="text" [class.is-invalid]="formDir.submitted && signupForm.get('category')?.invalid"formControlName="category" class="form-control" id="department"required>
                            <div class="invalid-feedback" style="font-size: 10px;color:red">
                                Department Is Required*
                                </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="email">EMAIL ID : <span class="red">*</span></label>
                            <input type="email" [class.is-invalid]="formDir.submitted && signupForm.get('email')?.invalid" formControlName="email"class="form-control" id="email"required>
                            <div style="font-size: 10px;color:red" *ngIf="(signupForm.get('email').invalid && formDir.submitted) || (signupForm.get('email').dirty && signupForm.get('email').invalid)">
                                Email ID Is Required*
                                </div>
                        </div>
                    </div>
                    <div class="workshop">
                        <p class="text-center small">WHAT ARE YOUR EXPECTATIONS FROM THE WORKSHOP?</p>
                        <div class="form-group">
                            <textarea formControlName="type"[class.is-invalid]="signupForm.get('type').touched && signupForm.get('type').invalid"class="form-control textarea font-italic" id="textarea1" maxlength="140" rows="3"
                                placeholder="140 CHARACTERS......."required></textarea>
                                <div class="invalid-feedback" style="font-size: 10px;color:red">
                                 Above Field Is Required*
                                    </div>
                        </div>
                        <div class="text-center w-100">
                            <button type="submit" class="btn" formnovalidate>REGISTER NOW</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>

        
    </div>


</body>
<!--[class.is-invalid]="formDir.submitted && signupForm.get('mobile')?.invalid" -->
