  section{
    position: relative;
    .content-wrap {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      max-width: 100%;
      margin: a50o;
      position: relative;
      .lobby-bg{
        position: relative;
          width: 100%;
          height: 100%;
          display: block;
          img{
            width: 100vw;
            height: 110vh;  
          }
      }
      #diabetesVideo{
        cursor: pointer;
        position: absolute;
        top: 34.5%;
        left: 27%;
        height: 19vh;
        width: 6vw;
        .pulsating-circle{
            position: absolute;
            top: 50%;
            left: 50%;
        }
    }
      #cardiologyVideo{
        cursor: pointer;
        position: absolute;
        top: 34.5%;
        left: 42%;
        height: 19vh;
        width: 6vw;
        .pulsating-circle{
            position: absolute;
            top: 50%;
            left: 50%;
        }
    }
      #hypertensionVideo{
        cursor: pointer;
        position: absolute;
        top: 34.5%;
        right: 24%;
        height: 19vh;
        width: 6vw;
        .pulsating-circle{
            position: absolute;
            top: 50%;
            left: 50%;
        }
    }
      #venousDiseaseVideo{
        cursor: pointer;
        position: absolute;
        top: 34.5%;
        right: 33.3%;
        height: 19vh;
        width: 6vw;
        .pulsating-circle{
            position: absolute;
            top: 40%;
            left: 50%;
        }
    }
    } 
  }

#modal-video{
    border-radius:5px; 
    padding: 0 3px;   
    position: relative;
    top: 3px;
    #closePopup{
        position: absolute;
        top: -16px;
        right: -16px;
        line-height: 24px;
        font-size: 30px;
        background: #e40e38;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        text-align: center;
        color: white;
        font-weight: 500;
        z-index: 1000;
        cursor: pointer;
    }
}
#back{
    position: absolute;
    top: 10px;
    left: 10px;
    background: #141433;
    color: white;
    z-index: 100;
    font-weight: 600;
    font-size: 14px;
    // padding: 2px;
    border: 1px solid #060a39;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 0px;
    a{
        text-transform: capitalize;
        color: white;
    }
  }
  #popup{
    background: #000000c9;
    padding: 5px;
    .chat_section{
      background: #292F35;
      .popup_header{
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #fff;
  
        .close {
          position: absolute;
          right: 7px;
          width: 24px;
          height: 28px;
          opacity: 0.5;
        }
        .close:hover {
          opacity: 1;
        }
        .close:before, .close:after {
          position: absolute;
          right: 7px;
          content: ' ';
          height: 28px;
          width: 2px;
          background-color: #fff;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }
  
      }
    }
  }
  
  .chat_box{
    .chat_message{
      list-style-type: none;
      padding: 0;
      display: inline-block;
      height: 400px;
      width: 96%;
      overflow: auto;
      overflow-x: hidden;
      .chat_messageList{
        padding: 10px;
        .img_avatar{
          float: left;
          width: 46px;
          img{
            width: 28px;
          }
        }
        .img_avatar_R{
          float: right;
          width: 46px;
          h4{
            font-size: 15px;
            text-decoration: none;
            font-weight: bold;
    color: black;
          }
        }
        p{
          .person{
            display: block;
            color: #292f35;
            font-weight: bold;
            font-size: 14px;
            float: left;
            cursor: pointer;
            margin-right: 15px;
            text-transform: capitalize;
            line-height: 18px;
            .checkProfile{
              text-decoration: none;
              outline: none;
              color: #292f35;
            }
          }
          .time {
            float: right;
            color: dimgrey;
            line-height: 18px;
          }
        }
        .text_message{
          font-size: 12px;
          font-weight: 500;
          line-height: 15px;
          margin-left: 48px;
          clear: both;
          margin-bottom: 5px;
        }
      }
      .chat_messageList:nth-child(even){
        background: #e8e8e8;
      }
    }
  }