/* You can add global styles to this file, and also import other style files */
@import './app/shared/custom-style/custom.component.scss';

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');



@font-face {
    font-family: myFirstFont;
    src: url(assets/video/HoneywellSans-Black.otf);
  }
  h2{
    font-family: myFirstFont !important;

  }
@font-face {
    font-family: HoneyWell;
    src: url(assets/video/HoneywellSans-Bold.otf);
}

body {
    font-family: HoneyWell !important;
    font-size: 12px;
    // letter-spacing: 1px;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
